{% extends 'base.html.twig' %}

{% block title %}Edit Equip{% endblock %}

{% block body %}
    <h1>Edit Equip</h1>

    {{ include('equip/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_equip_index') }}">back to list</a>

    {{ include('equip/_delete_form.html.twig') }}
{% endblock %}
